<nav>
  <div class="nav-container">
    <div class="title">
      <a id="title" href="/home"><h1>RocketClipz</h1></a>
    </div>
    <div class="nav">
      <%if(currentUser){%>
        <p class="greeting">Hello <a href="/user/<%=currentUser.username%>"><%=currentUser.username%></a>!</p>
        <a href="/add"><button class="upload" type="button">Upload Clip</button></a>
        <form action="/login?_method=DELETE" method="POST">
          <input class="nav-end" type="submit" value="Log Out"/>
        </form>
      <%}else{%>
        <a href="/users"><button type="button" name="button">Create an Account</button></a><br/><a href="/login"><button class="nav-end" type="button">Login</button></a>
      <%}%>
    </div>
  </div>
</nav>
