/* *{
  border: 1px solid gold;
} */

body{
  background-image:url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Kufam', cursive;
}
.nav-container{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 18px;
  margin-bottom: 40px;
  min-width: 700px;
}
.title{
  margin-left: 10px;
}
#title{
  text-decoration: none;
  color: black;
}
.nav{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
button{
  font-family: 'Kufam', cursive;
  font-size: 18px;
  margin: 5px 5px;
}
.nav-end{
  margin-right: 0px;
}
.greeting{
  font-size:20px;
  margin-right: 18px;
}
input{
  font-family: 'Kufam', cursive;
  font-size: 18px;
  margin: 5px 5px;
}
.form-container{
  display: flex;
  justify-content: center;
}
.form{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 400px;
  padding-bottom: 20px;
}


/* Home Page */
.clip-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clips{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  align-items: center;
  height: 325px;
  width: 400px;
}

/* SHOW PAGE */
.clip-show{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  min-width: 675px;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* PROFILE PAGE */
.profile-stats{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
