<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the Home Page(shows all clips)</h1>
    <%for(let key in clips){%>
      <div class="clips">
        <h3><%=clips[key].title%></h3>
        <a href="/asdfad">Profile</a></br>
        <a href="/user/<%=clips[key].id%>"><video width= width:'240' height='180' autoplay loop muted>
          <source src="<%=clips[key].link%>" type="video/mp4">
        </video></a>
      </div>
    <%}%>
    <a href="/add">This is the link to add a clip</a>
  </body>
</html>
