<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the Home Page(shows all clips)</h1>
    <a href="/asdfad">This is the link to the user profile</a>
    <a href="/asdfas/asdfasd">This is the link to the clips</a>
  </body>
</html>
