<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>This is the new clip page</h1>
  <a href="/home">This is a link Back Home</a>
  </body>
</html>
