<html lang="en" dir="ltr">
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <div class="container">
      <div class="log-new">
        <br>
        <div class="form-container">
          <form class= 'form' action="/" method="POST">
            <h1>Log In</h1>
            <label for="username">Username:</label>
            <input id='username' type="text" name="username" required/>
            <br>
            <label for="password">Password:</label>
            <input id='password' type="password" name="password" />
            <br>
            <input type="submit" value="Submit">
          <form>
          <br/>
          <a href="/">Home</a>
        </div>
      </div>
    </div>
  </body>
</html>
